.h1 {
    font-size: 40px;
    color: #2c6fbd;
    font-weight: 600
}

body {
    background-image: url(../img/home/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%
}

.h1 span {
    font-weight: 800;
    font-style: italic
}

header {
    box-shadow: 0 6px 38px rgb(0 0 0 / 23%)
}

.service_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 105px 0 190px
}

.locations_items_box {
    width: 100%;
    max-width: 1267px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0 0
}

.locations_item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 333px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 33px 55px 33px 60px;
    margin: 0 0 20px;
    text-decoration: none
}

.locations_item .name_location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 40px;
    line-height: 65px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    cursor: pointer
}

.locations_item .name_location img {
    width: 24px
}

.locations_item .location_list {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none
}

.locations_item .location_list li {
    font-size: 38px;
    line-height: 51px;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer
}

.locations_item .location_list li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color .4s
}

.locations_item .location_list li a:hover {
    border-color: #fff
}

@media all and (max-width:1024px) {
    .h1 {
        font-size: 44px
    }

    .locations_item .name_location {
        font-size: 44px;
        line-height: 65px
    }

    .locations_item .location_list li {
        font-size: 32px;
        line-height: 38px
    }

    .locations_item {
        height: 264px;
        padding: 33px 75px 33px 110px
    }

    .locations_items_box {
        margin: 40px 0 0
    }
}

@media all and (max-width:600px) {
    .h1 {
        text-align: center
    }

    .locations_item {
        height: 350px;
        padding: 33px 30px
    }

    .locations_item .name_location {
        font-size: 36px;
        line-height: 65px
    }

    .locations_item .location_list li {
        font-size: 29px;
        line-height: 35px
    }

    .locations_item {
        flex-direction: column
    }

    .locations_item .location_list {
        width: max-content;
        margin: 0 0 0 auto
    }
}
