.top5_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0
}

.top5_section .row_box {
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.top5_section .image {
    max-width: 666px;
    margin: 6px -33px -20px 0
}

.top5_section .h1 {
    color: #1e2329;
    font-size: 55px;
    font-weight: 200;
    margin: 0 0 45px
}

.top5_section .form_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.top5_section input {
    width: 375px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #b7c3d4;
    border-radius: 30px;
    outline: 0;
    color: #485768;
    font-size: 15px;
    padding: 0 40px;
    margin: 0 0 10px;
    font-family: Nunito, sans-serif
}

.top5_section input:last-of-type {
    margin: 0 0 30px
}

.top5_section .secure_btn {
    width: 275px;
    height: 55px;
    font-size: 18px;
    line-height: 55px
}

.top5_section .yellow_btn::after {
    height: 55px
}

.top5_section .text {
    padding: 60px 0 0;
    color: #5c6e83;
    font-size: 20px
}

.top5_section .img_box {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0
}

@media all and (max-width:1024px) {
    .top5_section .row_box {
        max-width: 990px
    }

    .top5_section .image {
        max-width: 520px;
        margin: 20px -36px -20px -64px
    }

    .top5_section input {
        width: 435px;
        height: 58px;
        font-size: 32px;
        line-height: 32px;
        color: #979ba0
    }

    .top5_section .yellow_btn::after {
        height: 35px
    }

    .top5_section .secure_btn {
        height: 63px;
        width: 355px;
        font-size: 32px;
        margin: 20px 0 0
    }

    .top5_section .yellow_btn::after {
        height: 53px
    }

    .top5_section .text {
        padding: 40px 0 0;
        font-size: 19px
    }

    .top5_section .img_box {
        width: 74%
    }

    .top5_section .h1 {
        font-size: 45px;
        margin: 0 0 70px;
        font-style: normal;
        font-weight: 200
    }
}

@media all and (max-width:786px) {
    .top5_section .image {
        max-width: 450px;
        margin: 20px -36px -20px -64px
    }

    .top5_section input {
        width: 385px;
        height: 58px;
        font-size: 26px;
        color: #979ba0
    }
}

@media all and (max-width:600px) {
    .top5_section .row_box {
        flex-direction: column
    }

    .top5_section .image {
        max-width: 100%;
        margin: 0 0 30px
    }

    .top5_section .h1 {
        font-size: 30px
    }

    .top5_section .secure_btn,
    .top5_section input {
        width: 100%;
        font-size: 25px;
        line-height: 25px
    }

    .top5_section .form_box {
        padding: 0 20px
    }

    .top5_section .img_box {
        width: 100%
    }

    .top5_section .yellow_btn::after {
        height: 24px
    }
}

@media all and (max-width:320px) {
    .top5_section .form_box {
        padding: 0 20px;
        width: 100%
    }

    .top5_section .img_box {
        flex-wrap: wrap
    }
}
